
  .custom-emoji {
    display: inline-grid;
    place-items: center;
    vertical-align: -0.2em;
    overflow: hidden;
  }

  .lottie {
    display: grid;
    place-items: center;
  }

  .lottie :global(canvas),
  img,
  video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .placeholder {
    font-size: 0.9em;
    line-height: 1;
    opacity: 0.6;
  }
